<div class="overlay">
    <div class="modal">
        <h2>One Last Detail...</h2>
        <p> We aren't bigh enought to print our own merchandise (at least not yet) so we have partnered with the good folks at Spreadshirt to help us out.</p>
        <p>Please use the very large button below to navigate to our Spreadshirt store and Spreadshirt will take it from there!</p>

        <a class="very-large-btn">
            Continue to <br/>
            <img src="assets/images/shirt-logo.svg"/>
        </a>

        <div class="bottom-bar">
            <a class="what">What does Change The Narrative Project do with it's profits?</a>

            <a class="cancel" (click)="hideModal();">Cancel</a>
        </div>
    </div>
</div>
