<div class="image-hero happy">
    <div class="overlay">
        <div class="text-area">
            <hr id="top-line"/>
            <h2 class="light black">It Started With A Simple Idea</h2>
            <h1 class="black">Use Design To Promote Change</h1>
            <hr id="bottom-line"/>
            <br/>
            <br/>
            <br/>
            <br/>
            
            </div> <!--text-area-->
            <div (click)="scroll(target)" class="scroll-indicator">
                <img src="assets/images/down.svg"/>
            </div>
    </div><!-- End of Overlay -->
</div><!-- end of image-hero-->

<div class="container" id="target">
    <div class="information-bar">
        <div class="left">
            <div class="inner-wrapper">
                <h3><span class="bold">We envision a world where love defines family.</span> Where every family, child and parent gets to feel the love and security of a forever family. </h3>
            </div>
        </div>
        <div class="right">
            <div class="inner-wrapper">
                <p class="content">To help this vision become reality we want to lead a movement to change how the world views fostering and adoption.  We want to break the mystery around what it means to open your family to fostering or adopting a child and lift the conversation out the stigma that is frequently associated with it today. </p>
            </div>
        </div>
    </div>

    <div class="information-bar about-content">
        <div class="left">
            <div class="inner-wrapper">
                <h2>Why T-Shirts?</h2>
                <p>From our experience there are misconceptions around caring for children in need which are simply the result of the assumptions.  The trouble is that fostering and adopting children is an almost sudo-taboo topic we as a society tend to discuss very little.  We want to change that and what better way to start those conversation than with clean, positive, thought-provoking designs?  It is our goal to remove the stereotypes around caring for these children and drive positive conversations. </p>
            </div>
        </div>
        <div class="right">
            <div class="inner-wrapper">
                <img src="../assets/images/info-image1.png"/>
            </div>
        </div>
    </div>

    <div class="information-bar about-content">
            <div class="left">
                <div class="inner-wrapper">
                    <img src="../assets/images/info-image1.png"/>
                </div>
            </div>
            <div class="right">
                <div class="inner-wrapper">
                        <h2>What Do We Use The Proceeds For?</h2>
                        <p>Our goal is to get as much visibility to these designs as possible.  To support this goal we try to spread the message as far as we can using design branded merchandise, social media campaigns, ad purchases and more. It is the proceeds we earn from merchandise sales on this site which pay for the maintenance and advertising expense we occur.  We currently do not accept donations as we would love to keep the focus on starting conversations. </p>
                </div>
            </div>
        </div>

</div>