<div class="image-hero happy">
    <div class="overlay">
        <div class="text-area">
            <hr id="top-line"/>
            <h2 class="light black">It Started With A Simple Idea</h2>
            <h1 class="black">Use Design To Promote Change</h1>
            <hr id="bottom-line"/>
            <br/>
            <br/>
            <br/>
            <br/>
            
            </div> <!--text-area-->
            <div (click)="scroll()" class="scroll-indicator">
                <img src="assets/images/down.svg"/>
            </div>
    </div><!-- End of Overlay -->
</div><!-- end of image-hero-->

<div class="container" id="target">
    <div class="information-bar">
        <div class="left">
            <div class="inner-wrapper">
                <h3><span class="bold">We were constantly made aware of just how little</span> we and others knew about the challenges thousands of children and families face everyday. </h3>
            </div>
        </div>
        <div class="right">
            <div class="inner-wrapper">
                <p class="content">Five years ago my wife and I became foster parents.  In our 20’s and without any experience as parents we went into the process blind.  Throughout the 1,003 days our now adopted son was in foster care we learned how many misconceptions we and so many others have about what it is like to be in foster care and to be a foster parent.  Since then it has been my goal to help break down these misconceptions and encourage more caring individuals and families to answer the call to help every child have a home.   </p>
            </div>
        </div>
    </div>

    <div class="left-image-side-by-side">

        <div class="left">
            <div class="inner-wrapper">
                <img src="../assets/images/tshirt-icon.png"/>
            </div>
        </div>

        <div class="right">
            <div class="inner-wrapper">
                    <h2>Why T-Shirts?</h2>
                    <p>From our experience there are misconceptions around caring for children in need which are simply the result of the assumptions.  The trouble is that fostering and adopting children is an almost sudo-taboo topic we as a society tend to discuss very little.  We want to change that and what better way to start those conversation than with clean, positive, thought-provoking designs?  It is our goal to remove the stereotypes around caring for these children and drive positive conversations. </p>
            </div>
        </div>

    </div>



    <div class="right-image-side-by-side">
        <div class="left">
            <div class="inner-wrapper">
                <h2>What Do We Use The Proceeds For?</h2>
                <p>Our goal is to get as much visibility to these designs as possible.  To support this goal we try to spread the message as far as we can using design branded merchandise, social media campaigns, ad purchases and more. It is the proceeds we earn from merchandise sales on this site which pay for the maintenance and advertising expense we occur.  We currently do not accept donations as we would love to keep the focus on starting conversations. </p>
            </div>
        </div>

        <div class="right">
            <div class="inner-wrapper">
                <img id="ad-image" src="../assets/images/advertising-icon.png"/>
            </div>
        </div>

    </div>



</div>