@primary-color: #8FBE00;
@link-blue: #31A9FF;
@heading-gray: #333333;
@light-gray: #444444;
@primary-font: 'Source Sans Pro', sans-serif;

body, html {
    padding: 0px;
    margin: 0px;
    font-family: @primary-font;
}


.image-hero {
    width:100%;
    height: 95vh;
    margin-top: -40px;

    @media screen and (max-width: 800px) {
        margin-top:-25px;
    }
    @media screen and (max-width: 600px) {
      margin-top:-22px;
  }
    &.super {
      background: url(../assets/images/super.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .overlay {
      background-color: rgba(255, 255, 255, .5);
      height: 95vh;
      .text-area {
        position: relative;
        top: 20vh;
        margin-left: 20px;
        #top-line, #bottom-line {
          color: @primary-color;
        }
        #top-line {
          width:140px;
          float:left;
          position: relative;
          top: 20px;
          margin-right: 5px;

        }
        h2 {
          margin-bottom: -20px;
        }
        h1 {
          margin-left: 145px;
          margin-top: 0px;
          float:left;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
        #bottom-line {
          margin-left: 5px;
          position: relative;
          top: 35px;
        }
        button {
          clear: both;
          margin-left: 145px;
        }
    
        @media screen and (max-width: 1000px) {
          #top-line {
            width:75px;
          }
          h1, h2, button {
            margin-left: 75px;
          }
        }

        @media screen and (max-width: 800px) {
          #top-line {
            width: 50px;
            top: 10px;
          }
          #bottom-line {
            top: 25px;
          }
          h1, h2, button {
            margin-left: 50px;
          }
          h1 {
            font-size: 50px;
          }
          h2 {
            font-size: 30px;
            margin-bottom: -10px;
          }
          button {
            position: relative;
            top: -20px;
            font-size: 16px;
            width:230px;
            height:50px;
          }
        }
        
        @media screen and (max-width: 600px) {
  
          h2 {
            font-size: 25px;
          }
          h1 {
            font-size: 40px;
          }
          #bottom-line {
            top:20px;
          }
          button {
            top: -40px;
            font-size: 14px;
            width:200px;
            height:45px;
          }
        }
        @media screen and (max-width: 500px) {
          #top-line {
            display: none;
          }
          h1, h2, button {
            margin-left: 5px;
          }
        }
        @media screen and (max-width: 430px) {
          h1 {
            width:220px;
            line-height: 38px;
            margin-top: 8px;
          }
          #bottom-line {
            top: 58px;
            margin-left: 0px;
          }
          button {
            top:0px;
          }
        }
    }
    .scroll-indicator {
      text-align: center;
      img {
        width:70px;
        position: absolute;
        bottom: 10vh;
        left: 50%;
        margin-left: -35px;
      }
    } 
  }
} // End of Image Hero

.breaker-bar {
  clear: both;
  position: relative;
  padding-top: 100px;

  @media screen and (max-width: 1100px) {
    padding-top: 0px;
  }

  @media screen and (max-width: 600px) {
    padding-top: 50px;
  }

  hr {
    color: @primary-color;
    width: 30%;
    
    @media screen and (max-width: 1300px) {
      width:25%;
    }

    @media screen and (max-width: 800px) {
      width:20%;
    }
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
  #left {
    position: absolute;
    left:0px;
    float:left;
  }
  h2 {
    float:left;
    width: 460px;
    position: absolute;
    left: 50%;
    margin-left: -230px;
    margin-top: -25px;
    color: @heading-gray;

    @media screen and (max-width: 1050px) {
      font-size: 36px;
      margin-top: -15px;  
      width: 342px;
      margin-left: -171px;

    }

    @media screen and (max-width: 650px) {
      font-size: 30px;
      margin-top: -15px;  
      width: 285px;
      margin-left: -142px;

    }
  }
  #right {
    position: absolute;
    right: 0px;
  }
}

.circle-bar {
  clear:both;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;

  @media screen and (max-width: 500px) {
    width:80%;
    margin-left: 10%;
  }
  @media screen and (max-width:700px) {
    margin-top: 50px;
  }

  @media screen and (max-width:1050px) {
    margin-top: 70px;
  }


  .img-circle {
    width:275px;
    height:275px;
    border-radius: 50%;
    border: 5px solid @primary-color;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;

    @media screen and (max-width: 1400px) {
      width:250px;
      height:250px;
    }

    @media screen and (max-width: 1300px) {
      width:200px;
      height:200px;
    }

    @media screen and (max-width: 1050px) {
      width:170px;
      height:170px;
      border-width: 3px;
    }

    @media screen and (max-width: 875px) {
      width:140px;
      height:140px;
    }

    &.shirt4 {
      @media screen and (max-width: 715px) {
        display: none;
      }
    }

    @media screen and (max-width: 550px) {
      width:120px;
      height:120px;
    }

    @media screen and (max-width: 500px) {
      width:100px;
      height:100px;
    }

    @media screen and (max-width: 430px) {
      width:80px;
      height:80px;
    }


    img {
      height:200px;
      border-radius: 20%;

      @media screen and (max-width: 1400px) {
        height:175px;
      }

      @media screen and (max-width: 1400px) {
        height:140px;
      }

      @media screen and (max-width: 1050px) {
        height:120px;
      }

      @media screen and (max-width: 875px) {
        height:100px;
      }

      @media screen and (max-width: 550px) {
        height:90px;
      }

      @media screen and (max-width: 500px) {
        height:80px;
      }

      @media screen and (max-width: 430px) {
        height:60px;
      }

    }
  }
}
.centered-paragraph-bar {
  width:74%;
  margin-left: 13%;
  text-align: center;
  color: @light-gray;
  margin-top: 50px;

  @media screen and (max-width: 500px) {
    font-size: 14px;
    margin-top: 35px;
  }
}
.image-bar {
  @height: 200px;
  height: @height;
  margin-top: 100px;
  margin-bottom: 50px;
  .info-image {
    width:50%;
    float:left;
    @media screen and (max-width: 800px) {
      width: 100%;
      float: none;
    }
    .image-area {
      width: 300px;
      float: left;
      height: @height;
      background-color: #F8FBFD;
      display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

      @media screen and (max-width: 1315px) {
        width: 250px;
      }
      @media screen and (max-width: 1140px) {
        width: 200px;
      }
      @media screen and (max-width: 1000px) {
        width: 140px;
      }
      @media screen and (max-width: 800px) {
        width:250px;
      }
      @media screen and (max-width: 600px) {
        width: 200px;
      }
      @media screen and (max-width: 475px) {
        width: 140px;
      }
      img {
        height: @height;
        min-width: 300px;
        
      }
    }
    .text-area {
      background-color: @light-gray;
      color: #FFF;
      height: @height;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 20px;
        width:85%;
        margin-left: 10px;

        @media screen and (max-width: 1315px) {
          font-size: 18px;
        }

        @media screen and (max-width: 1140px) {
          font-size: 16px;
        }
        @media screen and (max-width: 1000px) {
          font-size: 15px;
        }
        @media screen and (max-width: 800px) {
          font-size: 18px;
        }
        @media screen and (max-width: 600px) {
          font-size: 16px;
        }
        @media screen and (max-width: 475px) {
          font-size: 15px;
        }

        span {
          font-weight: 900;
        }
      }
      a {
        text-transform: uppercase;
      }
    }

    &.right {
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
  }
}
.challenge-bar {
  margin-top: 100px;

  @media screen and (max-width: 900px) {
    margin-top: -100px;
  }

  .left {
    width:50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;

    @media screen and (max-width: 900px) {
      width: 100%;
      float: none;
    }
    hr {
      color: @primary-color;
      width: 285px;
      float: left;
      margin: 0px;
      padding: 0px;
      position: relative;
      top: 60px;

      @media screen and (max-width: 1300px) {
        width: 200px;
      }
      @media screen and (max-width: 1100px) {
        width: 150px;
      }
      @media screen and (max-width: 900px) {
        width: 30%;
      }
      @media screen and (max-width: 800px) {
        width: 22%;
      }
      @media screen and (max-width: 670px) {
        width: 16%;
      }
      @media screen and (max-width: 570px) {
        width: 12%;
      }
      @media screen and (max-width: 400px) {
        top:50px;
      }

    }
    .text-area {
      width: 375px;
      margin-left: 295px;
      color: @heading-gray;

      @media screen and (max-width: 1300px) {
        margin-left: 210px;
      }
      @media screen and (max-width: 1100px) {
        margin-left: 160px;
      }
      @media screen and (max-width: 900px) {
        margin-left: 30%;
        padding-left: 10px;
      }
      @media screen and (max-width: 800px) {
        margin-left: 22%;
      }
      @media screen and (max-width: 670px) {
        margin-left: 16%;
      }
      @media screen and (max-width: 570px) {
        margin-left: 12%;
      }

      .top-heading {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 0px;

        @media screen and (max-width: 400px) {
          font-size: 25px;
        }
      }
      h3 {
        font-size: 42px;
        font-weight: 600;
        margin-top: 0px;

        @media screen and (max-width: 400px) {
          font-size: 36px;
        }
      }
    }
  } // End of Left

  .right {
    width: 50%;
    float:right;

    @media screen and (max-width: 900px) {
      width: 500px;
      float: none;
      margin: 0 auto;
      padding-top: 40px;
    }

    .image-stat {
      margin-bottom: 80px;
      @media screen and (max-width: 1600px) {
        padding-left: 100px;
      }
      @media screen and (max-width: 1300px) {
        padding-left: 50px;
      }
      @media screen and (max-width: 440px) {
        padding-left: 10px;
      }
      .circle-image {
        width: 90px;
        height: 90px;
        border: 2px solid @primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        float:left;
        margin-right: 15px;

        @media screen and (max-width: 1100px) {
          width: 70px;
          height: 70px;
        }

        img {
          width: 55px;

          @media screen and (max-width: 1100px) {
            width: 45px;
          }
        }
      }
      .stat-area {
        width: 100%;
        color: @heading-gray;
        .header {
          font-size: 42px;
          font-weight: 600;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        .line {
          font-size: 20px;
          margin-top: 0px;
        }

        @media screen and (max-width: 1100px) {
          .header {
            font-size: 36px;
          }
          .line {
            font-size: 16px;
          }
        }

        @media screen and (max-width: 400px) {
          .line {
            font-size: 15px;
            width: 340px;
          }
          .header {
            font-size: 32px;
          }
        }
      }
    }
  } // End of Right
} // End of Challenge Bar

.product-grid {
  clear: both;
  background-color: @primary-color;
  position: relative;
  top: 40px;

  h2 {
    text-align: center;
    margin: 0 10%;
    font-size: 42px;
    font-weight: 600;
    padding: 100px 0px;
    color: #fff;

    @media screen and (max-width: 1100px) {
      font-size: 36px;
    }

    @media screen and (max-width: 680px) {
      font-size: 30px;
    }

    @media screen and (max-width: 580px) {
      font-size: 26px;
    }
  }
  .stc {
    background-color: #FFF;
    color: #333;
    text-transform: uppercase;
    font-size: 18px;
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -125px;
    z-index: 10;
    border: 1px solid #ccc;
    top: -70px;

    &.second-position {
      top: 70px;
    }

    @media screen and (max-width: 680px) {
      font-size: 16px;
      width: 200px;
      height: 40px;
      margin-left: -100px;

      a {
        margin-top: 8px;
      }
    }
    a {
      padding: 0px;
      margin-top: 15px;
      display: block;
      color: @link-blue;

      @media screen and (max-width: 680px) {
        margin-top: 10px;
      }
    }
  }
  .the-grid {
    background-color: @primary-color;
    width: 1580px;
    margin: 0 auto;
    position: relative;


    .product-cell {
      position: relative;
      float: left;
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: @primary-color;
      padding-bottom: 20px;
      width: 375px;
      height:360px;
      background-color: #f2f2f2;
      border: 10px solid @primary-color;

      &.odd-responsive {
        display: none;
      }

        img {
          height:250px;
          width: auto;
          position: absolute;
          top: 50%;
          left:50%;
          transform: translate(-50%, -50%);
        }

        .collection-wrapper {
          opacity: 0;
          background-color: rgba(255, 255, 255, .8);
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0px;
          bottom: 0px;
          z-index: 99;
          text-align: center;

          @media screen and (max-width: 890px) {
            opacity: 1;
            height: 60px;
            position: absolute;
            bottom: 0px;
            background: #fff;
            top:140px;
            border-top: 1px solid #ccc;
          }

          @media screen and (max-width: 440px) {
            top:100px;
            height: 60px;
            border: none;
            background-color: rgba(255, 255, 255, .9)
          }

          p {
            margin-top: 100px;
            font-size: 30px;
            font-weight: 300;
            padding: 0px 20px;

            @media screen and (max-width: 1290px) {
              margin-top: 50px;
              font-size: 25px;
            }

            @media screen and (max-width: 1090px) {
              margin-top: 30px;
              font-size: 22px;
            }
            @media screen and (max-width: 890px) {
              margin-top: 14px;
              font-size: 14px;
              font-weight: 400;
            }
            @media screen and (max-width: 440px) {
              display: none;
            }
          }
          a {
            display: block;
            padding: 10px 15px;
            width:80px;
            border: 1px solid #333;
            text-transform: uppercase;
            font-weight: 400;
            margin: 0 auto;
            text-decoration: none;
            color: #333;

            &:hover {

            /* This timing applies on the way OUT */
            transition-timing-function: ease-in;
  
            /* Quick on the way out */
             transition: 0.4s;
              background-color: @primary-color;

            }

            @media screen and (max-width: 1290px) {
              font-size: 15px;
              width: 70px;
              padding: 8px 12px;
            }

            @media screen and (max-width: 890px) {
              padding: 0px;
              border: none;
              font-weight: 400;
              font-size: 12px;
              color: @link-blue;
              margin-top: -10px;
              &:hover {
                background-color: transparent;
              }
            }

            @media screen and (max-width: 440px) {
              font-size: 16px;
              margin-top: 18px;
  
            }

          }
          &:hover {

            /* This timing applies on the way OUT */
            transition-timing-function: ease-in;
  
            /* Quick on the way out */
            transition: 0.4s;
              opacity: 1;

          }
        }
      }
  }
  .call-2-action-row {
    background-color: @primary-color;
    height: 200px;
    clear: both;
  }

  @media screen and (max-width: 1590px) {
    .the-grid {
      width: 1280px;

      .product-cell {
        width: 300px;
        height: 280px;

        img {
          height: 200px;
        }
      }
    }
  }

  @media screen and (max-width: 1290px) {
    .the-grid {
      width: 1080px;

      .product-cell {
        width: 250px;
        height: 230px;

        img {
          height: 180px;
        }
      }
    }
  }

  @media screen and (max-width: 1090px) {
    .the-grid {
      width: 880px;

      .product-cell {
        width: 200px;
        height: 180px;

        img {
          height: 150px;
        }
      }
    }
  }

  @media screen and (max-width: 890px) {
    .the-grid {
      width: 660px;

      .product-cell {

        &.odd-responsive {
          display: inherit;
        }
      }
    }
  }

  @media screen and (max-width: 680px) {
    .the-grid {
      width: 540px;

      .product-cell {
        width: 160px;
        height: 140px;

        img {
          height: 120px;
        }
      }
    }
  }

  @media screen and (max-width: 680px) {
    .the-grid {
      width: 440px;

      .product-cell {
        width: 200px;
        height: 180px;

        &.odd-responsive {
          display: none;
        }

        img {
          height: 150px;
        }
      }
    }
  }

  @media screen and (max-width: 440px) {
    .the-grid {
      width: 360px;

      .product-cell {
        width: 160px;
        height: 140px;

        img {
          height: 120px;
        }
      }
    }
  }

  

} //End of Product Grid