<div class="information-bar">
    <div class="left">
        <div class="inner-wrapper">
            <h3><span class="bold">We envision a world where love defines family.</span> Where every family, child and parent gets to feel the love and security of a forever family. </h3>
        </div>
    </div>
    <div class="right">
        <div class="inner-wrapper">
            <p class="content">To help this vision become reality we want to lead a movement to change how the world views fostering and adoption.  We want to break the mystery around what it means to open your family to fostering or adopting a child and lift the conversation out the stigma that is frequently associated with it today. </p>
        </div>
    </div>
</div>
